<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         {{!-- Bootstrap CSS --}}
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">

        {{!-- Static CSS --}}
    
    <link type="text/css" rel="stylesheet" href="/css/test.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/signin.css">

        {{!-- jQuery --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        {{!-- Moment.js  --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

        {{!-- Google Fonts --}}
    <link  href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <title>Haunted House</title>
</head>
<body>
    {{{ body }}}
</body>
</html>