<!DOCTYPE html>
<html lang="en">
<div class="container">
<div class="row">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Home</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
</head>
<style> 
        body {
            background-image:  url(/img/flappy_bird_background.png);
            background-size: cover;
            background-repeat: no-repeat center fixed;
        }
        #canvas {
          display: block;
          margin-left: auto;
          margin-right: auto; 
          margin-top: 30vh;
        }
        #button{
          position: absolute;
          bottom: 50px;
          left: 20px;
          clip: rect(0px,200px,200px,0px);
        }
    </style>
<body>
    <canvas id="canvas" width="276" height="414"></canvas>
    <form class="form-score" action="/api/add_score/flappy" method="POST">
    <input type="hidden" class="form-control" id="email" name="email" placeholder="email" value={{user.email}}>
    <input type="hidden" class="form-control" id="input-score" name="inputScore" placeholder="Score">
    <div id="button">
    <button class="btn btn-lg btn-primary btn-block" id="Submit" type="submit">Submit Score</button>
    </div>
    </form>
    <script src="/flappy_bird/game.js"></script>
</body>
</div>
</html>

