<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlappyBird Test</title>
    <link rel="stylesheet" href="style.css" > 
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
</head>
<style> 
        body {
            background-image:  url(/img/flappy_bird_background.png);
            background-position: auto;
            background-size: cover;
        }
        #canvas {
            position: absolute;
            top: 45%;
            left: 40%;
        }
        #button{
          position: absolute;
          bottom: 50px;
          left: 20px;
        }
    </style>
<body>
    <canvas id="canvas" width="276" height="414"></canvas>
    <form class="form-score" action="/api/add_score/flappy" method="POST">
    <input type="hidden" class="form-control" id="email" name="email" placeholder="email" value={{user.email}}>
    <input type="hidden" class="form-control" id="input-score" name="inputScore" placeholder="Score">
    <div id="button">
    <button class="btn btn-lg btn-primary btn-block" id="Submit" type="submit">Submit Score</button>
    </div>
    </form>
    <script src="/flappy_bird/game.js"></script>
</body>
</html>

