  <form action="/api/sign_out" method="POST">
    <button type="submit" class="btn btn-primary">Sign Out</button>
  </form>
  
  {{#if user}}
  	   <p>User Info: {{user.username}}</p>
       <p>Score: {{user.score}}</p>
  {{/if}}
</ul>
<a href="/trivia">Play Trivia</a>
<a href="/tetris">Play Tetris</a>
<a href="/flappy_bird">Play FlappyBird</a>
<a href="/map">See map</a>

<h3>Welcome to Home Page</h3>