<body>
<!doctype html>
<div class="container">
  <div class="row">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Sign-in</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
      @media (min-width: 200px) {
        .bg-image {
          font-size: 3.5rem;
        }
    body {
            background-image:
                url("/img/Pumpkin.jpg");
            background-position: auto;
            background-size: cover;
        }
    h1 {
        margin-top: 100px;
        position: center;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 10vw;
        font-weight: 900;
        text-decoration: none;
        color: white;
        display: inline-block;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -ms-background-clip: text;
        -ms-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(45deg,
                    #F89E17,
                    #C26112,
                    #BE1717,
                    #BE1717);
        animation: .8s shake infinite alternate;
    }
        @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
    }
    h2{
        text-align : center;
        color: #F89E17;
    }
    .backend-info {
      color: white;
      font-family: Fontdiner Swanky;   
      
    }
    .username {
      position: top;
    }
    .trivia {
      width: 10vw;
      height: 20vh;
      background-image: url(https://www.flaticon.com/svg/static/icons/svg/1089/1089475.svg);
      background-size: cover;
    }
    .trivia:hover {
      animation: .8s shake infinite alternate;
    }
    .tetris:hover {
      animation: .8s shake infinite alternate;
    }
    .flappy:hover {
      animation: .8s shake infinite alternate;
    }
    .tetris {
      width: 10vw;
      height: 20vh;
      background-image: url(https://www.flaticon.com/svg/static/icons/svg/3420/3420406.svg);
      background-size: cover;
    }
    .flappy {
      width: 10vw;
      height: 20vh;
      background-image: url(https://www.flaticon.com/svg/static/icons/svg/3473/3473969.svg);
      background-size: cover;
    }


    .links {
      position: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: auto;
    }
    
</style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <!-- <link href="test.css" rel="stylesheet">  -->
  </head>
  <body class="text-center">
        
  <form action="/api/sign_out" method="POST">
    {{#if user}}
       <div class="backend-info">
  	   <p class="username">User Info: {{user.username}}</p>
       <p class="score">Score: {{user.score}}</p>
       <a href="/redeem">Redeem Score</a>
       </div>
  {{/if}}
  <h1>Play if you dare</h1>
  <div class="links">
  <div class="trivia" id="trivia">
    <a href="/trivia"></a>
  </div>
  <div class="tetris" id="tetris">
    <a href="/tetris"></a>
  </div>
  <div class="flappy" id="flappy">
  <a href="/flappy_bird"></a>
  </div>
  <br><br>
  </div><br><br>
    <button type="submit" class="btn btn-primary">Sign Out</button>
  </form>
  <script>
    document.getElementById("trivia").addEventListener("click", function() {
      return window.location.assign('/trivia');
    });
    document.getElementById("tetris").addEventListener("click", function() {
      return window.location.assign('/tetris');
    });
    document.getElementById("flappy").addEventListener("click", function() {
      return window.location.assign('/flappy_bird');
    })
  </script>
  </body>

</html>
  </div>
</body>