  <form action="/api/sign_out" method="POST">
    <button type="submit" class="btn btn-primary">Sign Out</button>
  </form>
  
  {{#if user}}
  	   <p>User Info: {{user.username}}</p>
       <p>Score: {{user.score}}</p>
  {{/if}}
</ul>
<a href="/trivia"><image type="button" class="btn btn-primary">Primary</image></a>
<a href="/tetris">Play Tetris</a>
<a href="/flappy_bird">Play FlappyBird</a>
<a href="/redeem">Redeem Score</a>

<h3>Welcome to Home Page</h3>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Home</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
      @media (min-width: 200px) {
        .bg-image {
          font-size: 3.5rem;
        }
    body {
           background-image:
                url("/img/Pumpkin.jpg");
            background-position: auto;
            background-size: cover;
        }
    h1 {
        text-align : center;
        position: center;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 10vw;
        font-weight: 900;
        text-decoration: none;
        color: white;
        display: inline-block;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -ms-background-clip: text;
        -ms-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(45deg,
                    #F89E17,
                    #C26112,
                    #BE1717,
                    #BE1717);
        animation: .8s shake infinite alternate;
    }
        @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
    }
    h2{
        text-align : center;
        color: #F89E17;
    }
</style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <!-- <link href="test.css" rel="stylesheet">  -->
  </head>
  <body class="text-center">
  <form class="form-signin" action="/api/sign" method="POST">
  <h1> Play if you Dare... </h1>
            </div>
        <p class="mt-5 mb-3 text-muted">&copy; Halloween 2020</p>
      </form>
  </body>

<main role="main">

</html>