  <form action="/api/sign_out" method="POST">
    <button type="submit" class="btn btn-primary">Sign Out</button>
  </form>
  
  {{#if user}}
  	   <p>User Info: {{user.username}}</p>
       <p>Score: {{user.score}}</p>
  {{/if}}
</ul>


<h3>Welcome to Home Page</h3>