
    {{#if message }}
    <p>{{message.msg}}</p>
    {{/if}}
    <div id="login-div">
        <form class="form-inline" action="/api/new_user" method="POST">
            <label class="sr-only" for="inlineFormInputName2">First Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="first-name" name="firstName" placeholder="First Name">

            <label class="sr-only" for="inlineFormInputName2">Last Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="last-name" name="lastName" placeholder="Last Name">

            <label class="sr-only" for="inlineFormInputName2">Email</label>
            <input type="email" class="form-control mb-2 mr-sm-2" id="email" name="email" placeholder="email">

            <label class="sr-only" for="inlineFormInputName2">password</label>
            <input type="password" class="form-control mb-2 mr-sm-2" id="password" name="password" placeholder="password">
            <button id="user-submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div id="users-area">
        
    </div>
