<body>
<!doctype html>
<html lang="en">
  <div class="container">
  <div class="row">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Sign-in</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
      @media (min-width: 200px) {
        .bg-image {
          font-size: 3.5rem;
        }
    body {
            background-image:
                url("/img/Pumpkin.jpg");
            background-position: auto;
            background-size: cover;
        }
    h1 {
        margin-top: 100px;
        position: center;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 10vw;
        font-weight: 900;
        text-decoration: none;
        color: white;
        display: inline-block;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -ms-background-clip: text;
        -ms-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(45deg,
                    #F89E17,
                    #C26112,
                    #BE1717,
                    #BE1717);
        animation: .8s shake infinite alternate;
    }
        @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
    }
    h2{
        text-align : center;
        color: #F89E17;
    }
</style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <!-- <link href="test.css" rel="stylesheet">  -->
  </head>
  <body class="text-center">
  <h1>Trick or Treat</h1>   
  <form class="form-signin" action="/api/sign" method="POST">
    
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="sign-in" type="submit">Sign in</button>
    <a href="/sign_up" type="submit">Sign Up</a>

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p> 
</form>
  </body>
  </div>
</html>
</body>
