<!DOCTYPE html>
<div class="container">
  <div class="row">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Blockrain.js lets you embed the classic Tetris game on your website" />
    <meta name="keywords" content="js, jquery, game, plugin, html5, tetris" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="author" content="Aerolab" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <link rel="shortcut icon" href="/tetris/assets/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/tetris/assets/css/style.css">
    <link rel="stylesheet" href="/tetris/src/blockrain.css">
    <title>Test Tetris</title>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-21195039-3', 'aerolab.github.io');
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
      </script>

</head>
    <style> 
        body {
            background-image: 
            url(/img/tetris.png);
           background-size: cover;
            background-repeat: no-repeat center fixed;
        }
        article{
          position: absolute;
          top: 100px;
          left: 20%;
        }
         #button{
          position: absolute;
          clip: rect(0px,300px,300px,0px);
          bottom: 50px;
          left: 8px;
         }
         
    </style>



<body>
    
    <section id="examples">
        <header>
        </header>

        <article id="example-slider">
          <div class="example">
            <div class="instructions">
              Use only arrows
              <div class="keyboard">
                <div class="key key-up"></div>
                <div class="key key-left"></div>
                <div class="key key-down"></div>
                <div class="key key-right"></div>
              </div>
            </div>
            <div class="game" id="tetris-demo"></div>
          </div>
        
        </article>
      
      </section>
<form class="form-score" action="/api/add_score/tetris" method="POST">
<input type="hidden" class="form-control" id="email" name="email" placeholder="email" value={{user.email}}>
<input type="hidden" class="form-control" id="input-score" name="inputScore" placeholder="Score">
<div id="button">
  <button class="btn btn-lg btn-primary btn-block" id="Submit" type="submit">Submit Score</button>
</div>
</form> 

<script src="/tetris/assets/js/jquery-1.11.1.min.js"></script>
<script src="/tetris/src/blockrain.jquery.libs.js"></script>
<script src="/tetris/src/blockrain.jquery.src.js"></script>
<script src="/tetris/src/blockrain.jquery.themes.js"></script>

<script>
  var myScore = 0;
  var myScoreContainer = document.getElementById("input-score");
  var $cover = $('#cover-tetris').blockrain({
    autoplay: true,
    autoplayRestart: true,
    speed: 100,
    autoBlockWidth: true,
    autoBlockSize: 25,
    theme: 'candy'
  });
  

  var versusSpeed = 100;
  var $versus1 = $('#tetris-versus-1 .game').blockrain({
    autoplay: true,
    autoplayRestart: true,
    speed: versusSpeed,
    onGameOver: function() {
      $versus1.blockrain('restart');
      $versus2.blockrain('restart');
      var $score = $versus2.parent().find('.score');
      $score.text( parseInt($score.text()) + 1 );
      
      
    }
  });
  var $versus2 = $('#tetris-versus-2 .game').blockrain({
    autoplay: true,
    autoplayRestart: true,
    speed: versusSpeed,
    onGameOver: function() {
      $versus1.blockrain('restart');
      $versus2.blockrain('restart');
      var $score = $versus1.parent().find('.score');
      $score.text( parseInt($score.text()) + 1 );
    }
  });


  var $demo = $('#tetris-demo').blockrain({
    speed: 20,
    theme: 'vim',
    onStart: function() {
      ga( 'send', 'event', 'tetris', 'started');
    },
    onLine: function(score) {
      myScore = myScore + score
      myScoreContainer.value = myScore;

      ga( 'send', 'event', 'tetris', 'line');
    },
    onGameOver: function(score){
      myScoreContainer.value = score/400;
      ga( 'send', 'event', 'tetris', 'over', score);
    }
  });

  $('#example-slider').find('.btn-next').click(function(event){
    event.preventDefault();
    switchDemoTheme(true);
  });
  $('#example-slider').find('.btn-prev').click(function(event){
    event.preventDefault();
    switchDemoTheme(false);
  });

  function switchDemoTheme(next) {

    var themes = Object.keys(BlockrainThemes);

    var currentTheme = $demo.blockrain('theme');
    var currentIx = themes.indexOf(currentTheme);

    if( next ) { currentIx++; }
    else { currentIx--; }

    if( currentIx >= themes.length ){ currentIx = 0; }
    if( currentIx < 0 ){ currentIx = themes.length-1; }

    $demo.blockrain('theme', themes[currentIx]);
    $('#example-slider .theme strong').text( '"'+themes[currentIx]+'"' );
  }
</script>

</body>
</div>
</html>