
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trivia</title>
    <link rel="stylesheet" href="../css/trivia.css" />
  </head>

  <body>
    <div class="container">
      <!-- <div id="loader"></div> -->
      <div id="game" class="justify-center flex-column hidden">
        <div id="hud">
          <div id="hud-item">
            <p id="progressText" class="hud-prefix">
              Question
            </p>
            <div id="progressBar">
              <div id="progressBarFull"></div>
            </div>
          </div>
          <div id="hud-item">
            <p class="hud-prefix">
              Score
            </p>
            <h1 class="hud-main-text" id="score">
              0
            </h1>
          </div>
        </div>
        <h2 id="question"></h2>
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4"></p>
        </div>
      </div>
    </div>
  </div>
</div>
    <form class="form-score" action="/api/add_score/game" method="POST">
    <input type="hidden" class="form-control" id="email" name="email" placeholder="email" value={{user.email}}>
    <input type="hidden" class="form-control" id="input-score" name="inputScore" placeholder="Score">
    <button class="btn btn-lg btn-primary btn-block" id="Submit" type="submit">Submit Score</button>
    </form>
  </body>
    <script src="/trivia/trivia.js"></script>
    <style>
      * {
          margin: 0 auto;
        }

        body {
          background: url(/img/trivia_background.png);
          background-position: auto;
          background-size: cover;
        }

        #question{
            text-align: center;
        }

        .choice-container {
            display: flex;
            margin-bottom: 0.5rem;
            width: 50%;
            font-size: 1.8rem;
            border: 0.1rem solid rgb(86, 165, 235, 0.25);
            background-color: #141414;
          }
          
          .choice-container:hover {
            cursor: pointer;
            box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
            transform: translateY(-0.1rem);
            transition: transform 150ms;
          }
          
          .choice-prefix {
            padding: 1.5rem 2.5rem;
            background-color: #eb9e56;
            color: white;
          }
          
          .choice-text {
            padding: 1.5rem;
            width: 100%;
            color: white;
          }
          
          .correct {
            background-color: #28a745;
          }
          
          .incorrect {
            background-color: #dc3545;
          }

          #justify-center {
            text-align: center;
        }
          
          /* HUD */
          
          #hud {
            display: flex;
            justify-content: space-between;
          }
          
          .hud-prefix {
            text-align: center;
            font-size: 2rem;
          }
          
          .hud-main-text {
            text-align: center;
          }
          
          #progressBar {
            width: 20rem;
            height: 4rem;
            border: 0.3rem solid #eb9e56;
            margin-top: 1.5rem;
          }
          
          #progressBarFull {
            height: 3.4rem;
            background-color: #eb9e56;
            width: 0%;
          }
          
          /* LOADER 
          #loader {
            border: 1.6rem solid white;
            border-radius: 50%;
            border-top: 1.6rem solid #eb9e56;
            width: 12rem;
            height: 12rem;
            animation: spin 2s linear infinite;
          }
          
          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }*/
    </style>
</html>
