
<!DOCTYPE html>
<html lang="en">
  <div class="container">
  <div class="row">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Home</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">

    <title>Trivia</title>
    <link rel="stylesheet" href="../css/trivia.css" />
  </head>
  </div>
  <body>
    <div class="container">
      <!-- <div id="loader"></div> -->
      <div id="game" class="justify-center flex-column hidden">
        <div id="hud">
          <div id="hud-item">
            <p id="progressText" class="hud-prefix">
              Question
            </p>
            <div id="progressBar">
              <div id="progressBarFull"></div>
            </div>
          </div>
          <div id="hud-item">
            <p class="hud-prefix">
              <h3>Score :</h3>
            </p>
            <h1 class="hud-main-text" id="score">
             0
            </h1>
          </div>
        </div>
        <h2 id="question"></h2>
        <div id="list">
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4"></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="button">
    <form class="form-score" action="/api/add_score/game" method="POST">
    <input type="hidden" class="form-control" id="email" name="email" placeholder="email" value={{user.email}}>
    <input type="hidden" class="form-control" id="input-score" name="inputScore" placeholder="Score" value=0>
    <button class="btn btn-lg btn-primary btn-block" id="Submit" type="submit">Submit Score</button>
  </div>
    </form>
  </body>
    <script src="/trivia/trivia.js"></script>
    <style>
     body {
          background: url(/img/trivia_background.png) no-repeat center fixed;     
          background-size: cover;
          font-family: Fontdiner Swanky;
        }
        #question {
          display: flex;
          top: 25px;
          left: 20px;
        }
        #hud {
          display: absolute;
          top: 25%;
          left: 10px;
        }
        h3 {
          position: absolute;
          top: 200px;
          left: 50px;
        }
        #score {
          position: absolute;
          top: 200px;
          left: 150px;
        }
        #list {
          display: absolute;
          top: 100px;
          left: 350px;
        }
       #button{
          position: absolute;
          clip: rect(0px,200px,200px,0px);
          bottom: 75px;
          left: 50px;
        }
        #justify-center {
          text-align: center;
        }
        #hud {
          position: absolute;
          top: 25%;
          left: 10px;
        }
        .hud-prefix {
          text-align: left;
          font-size: 2rem;
        }
        .choice-container {
          display: flex;
          margin-bottom: 0.5rem;
          width: 50%;
          font-size: 1.3rem;
          border: 0.1rem solid rgb(86, 165, 235, 0.25);
          background-color: #141414;
        }
        .choice-container:hover {
          cursor: pointer;
          box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
          transform: translateY(-0.1rem);
          transition: transform 150ms;
        }
        .choice-prefix {
          padding: 1.5rem 2.5rem;
          background-color: #EB9E56;
          color: white;
        }
        .choice-text {
          padding: 1.5rem;
          width: 100%;
          color: white;
        }
        .correct {
          background-color: #28A745;
        }
        .incorrect {
          background-color: #DC3545;
        }
        #progressBar {
          width: 20rem;
          height: 4rem;
          border: 0.3rem solid #EB9E56;
          margin-top: 1.5rem;
        }
        #progressBarFull {
          height: 3.4rem;
          background-color: #EB9E56;
          width: 0%;
        }

    </style>
</html>
